*
{
    background-color: #FFFFFF;
}
h1
{
    margin-top: 200px;
}
hr
{
    border-radius: 30px;
}
b
{
    margin-right: 200px;
}
.cat
{
    width: 47%;
    border-color: #000000;
    margin-left: 160px;
    border-radius: 1px;
    height: 30px;
    
}
.boa
{
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 1px;
    transition-duration: 2ms 3ms;
}

.catr
{
    
    border-color: #000000;
    margin-left: 160px;
    border-radius: 1px;
    
    
}
.catto
{
    margin-left: 4.1%;

}
.boa:hover
{
    background-color: #373737;
    border-color: #373737;
}